*
/开发配置教程
# /用户配置教程
# /Bots 
# /CompiledAssemblies 
# /JitProfiles 
# /HsMod 
# /Logs 
# /MercStraLogs 
# /Plugins
# /Routines/DefaultRoutine


!Routines/DefaultRoutine/Silverfish/
!Routines/DefaultRoutine/Silverfish/data
!Routines/DefaultRoutine/Silverfish/cards
!Routines/DefaultRoutine/Silverfish/cards/*
!Routines/DefaultRoutine/Silverfish/cards/*/*
!Routines/DefaultRoutine/Silverfish/ai/CardDB_cardIDEnum.cs
!Routines/DefaultRoutine/Silverfish/ai/CardDB_cardNameCN.cs
!Routines/DefaultRoutine/Silverfish/ai/CardDB_cardNameEN.cs
!/开发配置教程/校验卡牌Sim.py 
!/开发配置教程/校验卡牌Sim打印非UTF-8.py 
!/开发配置教程/生成卡牌数据.py 
!/开发配置教程/瘦身卡牌数据.py