!Routines/DefaultRoutine/Silverfish/data
!Routines/DefaultRoutine/Silverfish/cards
!Routines/DefaultRoutine/Silverfish/ai/CardDB_cardIDEnum.cs
!Routines/DefaultRoutine/Silverfish/ai/CardDB_cardNameCN.cs
!Routines/DefaultRoutine/Silverfish/ai/CardDB_cardNameEN.cs
!开发者配置教程/


*